#Carpeta de modelos pesados
models/
# Bytecode y entorno virtual
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos
.venv/
venv/
ENV/
.env
.env.*
venvp/

# Archivos de configuración local
.settings/
*.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs y bases de datos temporales
*.log
*.sqlite3
*.db
*.bak

# Directorios de ejecución
.logs/
logs/

# Vectorstore generado
vectorstore/documents/
vectorstore/web/
vectorstore/apis/
vectorstore/bbdd/
vectorstore/

# Otros archivos temporales
*.tmp
*.swp

# Selenium: perfiles temporales
selenium_profile/

# Node.js si usas frontend
node_modules/
build/
dist/

# Jupyter / notebooks temporales
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
